<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
	<% if flash[:notice] %>
		<div class="flashNotice">
			<%= flash[:notice] %>
		</div>
	<% end %>
	<a href="/profile">Home</a>
	<a href="/users">All Users</a>
	<a href="/account">Account Settings</a>
	<a href="/logout">Logout</a>
	<%= yield %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="scripts/script.js"></script>
</body>
</html>