<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
	<% if flash[:notice] %>
		<div class="flashNotice">
			<%= flash[:notice] %>
		</div>
	<% end %>
	<nav>
		<ul id="navbar1">
			<li id="navbar2"><a href="/profile">Home</a></li>
			<li id="navbar2"><a href="/users">All Users</a></li>
			<li id="navbar2"><a href="/account">Account Settings</a></li>
			<li id="navbar2"><a href="/logout">Logout</a></li>
		</ul>
	</nav>
	<hr>
	<%= yield %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="scripts/script.js"></script>
</body>
</html>