<div id="signin">
	<form method="POST" action="/sign_in" id="siform">
		<label for="username">Username</label>
		<input type="text" name="username" class="sii">
		<label for="password">Password</label>
		<input type="password" name="password" class="sii">
		<input type="submit">
	</form>
</div>