<div id="users_all">
	<div id="user_wrapper">
		<% @users.each do |u| %>
			<a href="/user_profile/<%= u.id %>">
				<div class="user_each u<%=u.id %>">
					<p class="user_name">
						<%= u.username %>
					</p>
				</div>
			</a>
		<% end %>
	<div>
</div>

<!-- 
	click on a user, go to user_profile.erb
		-user_profile.erb shows user info and user posts
		-gets that info based off of @user.id
		-@user.id is called from user object on users.erb

 -->