.underline {
	text-decoration: underline;
}

#prof {
	width: 100%;
	background-color: #f2f2f2;
}

#pH {
	margin: 0 auto;
	width: 30%;
}

#pp {
	width: 30%;
	float: left;
}

.ppi {
	border: 1px solid #000000;
	margin-top: 10px;
	margin-left: 20%; 
}

.ppi div {
	border: 1px solid #000000;
	padding: 5px;
}
.ppi div p {
	margin: 0
}

#nm {
	font-size: 18px;
}

#newpost {
	width: 45%;
	float: right;
	background-color: #f2f2f2;
	border: 1px solid black;
	margin-right: 6%;
	margin-top: 10px;
}

#newpost h2 {
	text-align: center;
}

#npost {
	margin: 0 auto;
	border: 1px solid black;

}

#ta {
	width: 100%;
}

#acdetails {
	float: left;
}

#acdetails h5 {
	margin-top: -20px;
}

#acposts {
	width: 40%;
	float: right;
}

.acpostsi {
	border: 1px solid black;
}

.acpostsi p {
	padding-left: 10px;
}

#acpost input[type=text] {
	font-size: 20px;
	padding: 3px;
}

#acpost textarea {
	font-size: 15px;
}
#navbar1 {
	list-style-type: none;
	text-align: center;
}
#navbar2 {
	display: inline;
}
#navbar2 a{
	margin: 40px;
}
.flashNotice {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #F2F2F2;
    padding: 5px;
    width: 210px;
    text-align: center;
}
body {
	margin: 0;
}
#signforms {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#signup {
    max-width: 50%;
    background-color: #F2F2F2;
    padding: 20px;
}

#signin {
    max-width: 50%;
    margin: 0 20px;
    align-self: flex-start;
    background-color: #F2F2F2;
    padding: 20px;
}
#siform > input {
	display: block;
	width: 250px
}
#siform2 > input {
	display: block;
	width: 250px
}
