body {
	font-family: 'Helvetica';
	margin: 0;
	padding: 0;
	background-color: #EAB59D;
}

a {
	text-decoration: none;
	color: #000000;
}

nav {
	background-color: #ffffff;
	padding-top: 1px;
	padding-bottom: 1px;
}

hr {
	margin-top: 0px;
}

.button {
	background-color: #EAB59D;
	font-weight: 700;
	border: 2px solid #000000;
	padding: 5px;
	font-size: 15px;
}

.ubutton {
	/*float: right;
	clear: both;
	margin-right: 90px;
	margin-top: 8px;*/
}

#password_input {
	padding: 5px;
	font-size: 15px;
	width: ;
}

.underline {
	font-weight: 700;
}

#pH {
	margin: 0 auto;
	text-align: center;
}

#nm {
	font-size: 20px;
}

#newpost {
	width: 35%;
	float: left;
	margin-right: 6%;
	margin-top: 10px;
}

#hide {
	color: #EAB59D;
}

#npost {
	margin: 0 auto;
}

#npost label {
	font-weight: 700;
	font-size: 18px;
}

#npost input[type=text] {
	font-size: 20px;
	padding: 3px;
	background-color: #EAB59D; 
}

#npost_text {
	font-size: 20px;
}


#acdetails {
	float: left;
	margin-left: 10%;
	width: 45%;
}

.subtext {
	margin-top: -20px;
}

#acposts {
	width: 30%;
	float: right;
	margin-right: 10%;
}

.acheader {
	padding-left: 2%;
}

.acpostsi {
	border: 2px solid #000000;
	margin: 5px;
}

.acpostsi p {
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 500;
	font-size: 19px;
}

#acpost input[type=text] {
	font-size: 20px;
	padding: 3px;
	background-color: #EAB59D; 
}

#acpost textarea {
	font-size: 20px;
	background-color: #EAB59D;
}
nav {
	background-color: #ffffff;
	padding-top: 1px;
}

#navbar1 {
	list-style-type: none;
	text-align: center;
}

#navbar2 {
	display: inline;
}

#navbar2 a{
	margin: 40px;
	font-weight: 700;
	font-size: 20px;
	/*color: #ffffff;*/
}

.flashNotice {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #F2F2F2;
    padding: 5px;
    width: 210px;
    text-align: center;
}
.flashNotice2 {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #F2F2F2;
    padding: 5px;
    text-align: center;
}

#signforms {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#signforms input {
	border: 2px solid #d9d9d9;
}

#signup {
    max-width: 50%;
    /*background-color: #F2F2F2;*/
    padding: 20px;
    border: 3px solid black;
}

.editpost {
	position: absolute;
	display: none;
	width: 340px;
	height: 75px;
	border: 3px solid #000000; 
	z-index: 1000;
	background-color: #EAB59D;
}

#account {
	width: 80%;
	margin: 0 auto;
}

#postbut {
	float: left;
	clear: both;
}

#dpostbut {
	float: right;
	margin-top: -32px;
	margin-right: 13px;
}

.accmodal {
	display: none;
	width: 100%;
	height: 2000px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	position: absolute;
	top: 0%;
	left: 0%;
}

#bedit {
	width: 300px;
	height: 50px; 
}

#signin {
    max-width: 50%;
    margin: 0 20px;
    align-self: flex-start;
    /*background-color: #F2F2F2;*/
    padding: 20px;
    border: 3px solid black;
}

#siform > input {
	display: block;
	width: 250px
}

#siform2 > input {
	display: block;
	width: 250px
}

#users_all {
	display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 65px;
}

.user_each {
	width: 30%;
	max-width: 300px;
	min-width: 200px;
	height: 200px;
	display: inline-block;
	border: 2px solid #000000;
	margin: 5px;
	padding: 0px;
	position: relative;
}

.user_name {
	font-size: 25px;
	font-weight: 700;
	margin: 0;
	position: absolute;
	bottom: 0;
	color: white;
	background-color: rgba(0,0,0,0.6); 
}

#user_wrapper {
	width: 850px;
}

#delete {
	padding: 10px;
	border: 3px solid #000000;
	background-color: #EAB59D;
	margin-top: 30px;
	font-weight: 700;
	font-size: 18px;
	float: right;
	clear: both;
	margin-right: 90px;
}

#post_edit label {
	font-size: 20px;
	font-weight: 700;
	padding-left: 12px;
}

#post_edit_submit {
	margin-left: 12px;
	margin-top: 12px;
}

#post_edit_input {
	border: 2px solid #000000;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 75px;
}

#post_edit textarea {
	margin-left: 27px;
	font-size: 15px;
}

.ind_user_account_label {
	font-weight: 700;
	font-size: 20px;
}

#acdetails label {
	font-weight: 700;
	font-size: 20px;
}

#acdetails input {
	border: 2px solid #000000;
	margin-bottom: 1px;
}

.user_input {
	/*float: right;*/
	margin-right: 90px;
	background-color: #EAB59D;
	display: block;
}

textarea {
	border: 2.5px solid #000000;
	background-color: #EAB59D;
}
.user_each.u1 {
    background: url("/images/u1.png") no-repeat center center;
}
.user_each.u2 {
    background: url("/images/u2.png") no-repeat center center;
}
.user_each.u3 {
    background: url("/images/u3.png") no-repeat center center;
}
.user_each.u4 {
    background: url("/images/u4.png") no-repeat center center;
}
.user_each.u10 {
    background: url("/images/u5.png") no-repeat center center;
}
.user_each.u13 {
    background: url("/images/u6.png") no-repeat center center;
}
input#postit {
    width: 290px;
}